<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0XZ6a7zeLAH5wKIAYGT_HHKlEd2kH23U</string>
	<key>GCM_SENDER_ID</key>
	<string>1090375309886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.businessThamer.sellBuy</string>
	<key>PROJECT_ID</key>
	<string>buy-sell-a413f</string>
	<key>STORAGE_BUCKET</key>
	<string>buy-sell-a413f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090375309886:ios:2528cd5a88cd9cbafacf6f</string>
</dict>
</plist>